.error {
  background-color: #ffd6d6;
	border-radius: 10px;
	border: 2px solid #fd0d0d;
	padding: 0.5rem;
	font-weight: bold;
  margin: 0.5rem ;
	color: #2c3e50;
}

.loading {
	padding: 0.5rem;
	font-weight: bold;
  margin: 0.5rem ;
	color: whitesmoke;
}