.input {
    &__wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;
        label {
            font-weight: bold;
        }
        input {
            padding: 5px;
            font-size: 1.2rem;
        }
    }
    &__remember {
        display: flex;
        label {
            margin-left: 0.25rem;
        }
    }
}

input:disabled:hover {
    cursor: not-allowed;
}

